# Python
__pycache__/
*.py[cod]
*.egg-info/
pip-wheel-metadata/

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# Streamlit secrets (nooit committen)
.streamlit/secrets.toml

# OS rommel
.DS_Store
Thumbs.db
